* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    margin: 0; 
    padding: 0; 
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    align-items: center;

}


/*
main6, contato, text- content, wl
*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(0, 47, 91);
    text-align: center;
    align-items: center;
}
header {
    background-color: #000000ab;

    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

#sobre2 {
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 150px;
}
#centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    background-image: url('static/2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.main3{
    background-color: #000000;

}

.main5{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 40px;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;

}

.main6{
    background-color: #000000;
    color: #fff;
    padding:40px;
}
.main2, .main3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding: 70px;
}
.main4 {
    background-color: aliceblue;
    height: 130vh;
    flex-direction: column; /* Alinha os itens na vertical */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

#laptop {
    width: 700px;
    height: auto;
}
.content {
    max-width: 600px;
    margin: 0 auto;     
    text-align: center;
}
#servicos, #contato {
    max-width: 800px;
    margin-top: 20px;
}
#servicos h2, #contato h2 {
    font-size: 22px;
    color: white;
    font-weight: bold;
}
#servicos p, #contato p {
    font-size: 16px;
    color: white;
}
#perfil_profissional {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.main3{
    position: relative;
}

.txtleft{
     text-align: left;
}


#predio {
    position: relative;
    bottom: 0;
    left: 0;
    width: 700px;
    height: auto;
}
#Projetos {
    text-align: center;
    align-items: center;
    margin-bottom: 125px;

}
.projeto-img {
    width: auto;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    margin: 10px;
}
#chess {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    width: 400px;
    height: auto;
}
#vortex{
    margin: auto;
    width: 700px;
    height: auto;
}

#chess:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

#servicos{
    margin-bottom: 50px;
    margin-top: 70px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px; 
}

h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #929292;
    padding-left: 10px;
    border-left: 4px solid #929292;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
}

h5 {
    font-size: 33px;
    text-align: center;
}
h6 {
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}
h2, #sobre, #sobre2 {
    text-align: center;
}
h1 {
    font-weight: normal;
}
.main3 {
    margin: 0;
    padding: 0;
}
.content-with-image {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Garante que o conteúdo ocupe a altura total da tela */
}
  
.text-content {
    text-align: center; /* Centraliza o texto dentro do contêiner */
}
  
#wl {
    width: 10%; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    display: block; /* Certifique-se de que a imagem se comporte como um bloco */
    margin: 0 auto; /* Garante que a imagem seja centralizada */
    padding: 15px;

}

.gradiente{
    font-size: 15px;
    background-image: linear-gradient(to right, rgb(192, 192, 192), rgb(0, 0, 0));
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    color: transparent; /* Make the text itself transparent */
    font-size: 2em;
}

.margin{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Ajustes para telas pequenas (como celulares) */
@media (max-width: 768px) {
    

    .main4 {
        padding: 20px;
        height: auto;  /* Ajuste de altura para telas menores */
        align-items: center;
        
    }
    
    /* Ajuste do container de texto */
    .content {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    /* Ajuste do título "Perfil Profissional" */
    #perfil_profissional {
        font-size: 24px; /* Reduz o tamanho da fonte */
        margin: 20px 0;
    }

    /* Ajuste dos parágrafos dentro do container */
    .content p {
        font-size: 16px;
        line-height: 1.4;
    }

    /* Se houver imagens que possam influenciar o layout */
    #laptop, #predio, #chess{
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #wl{
        width: 30%;
    }

    h1, h5 {
        font-size: 1.2em; /* Ajuste no tamanho da fonte */
        max-width: 300px; /* Limita o tamanho máximo das imagens */

    }

    .projeto-img {
        width: 100%; /* Faz com que as imagens ocupem 100% da largura disponível */
        max-width: 300px; /* Limita o tamanho máximo das imagens */
        margin: 10px auto; /* Centraliza as imagens */
    }
}


/* Ajuste para telas muito pequenas (ex: celulares em modo retrato) */
@media (max-width: 480px) {
    h1, h5 {
        font-size: 1em; /* Reduz ainda mais o tamanho da fonte */
    }

    .projeto-img {
        width: 100%;
        max-width: 250px; /* Ajusta as imagens ainda mais */
    }

    
}